@import "./scss/_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Hubballi&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $primaryColor;
  font-family: $primaryFont;
}

p {
  font-family: $secondaryFont;
}